{% load staticfiles %}
<html>
    <head>
        <title>Ironsides JIF Generator</title>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
        <link href='https://fonts.googleapis.com/css?family=Roboto+Mono' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/APTDemo.css' %}">
    </head>
    <body>
    <div class="page-header">
        <h1><img src="{% static 'imgs/isl-trans.png' %}" height="100" width="150" align="middle" style="margin:1px 30px 1px 1px"><a href="/">APT Demo System</a></h1>

    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            <div class="container">
            <a href="{% url 'demo_config'%}">Demo Config</a>
            {% block content %}
            {% endblock %}
            </div>
            </div>
        </div>
    </div>
</body>
</html>
